/* Watch Trailer Button CSS */

.watchbutton {
  border: none;
}

.trailerdivbox {
  display: none;
  width: 100%;
  height: fit-content;
  float: left;
  position: fixed; /* fixed */
  top:0;
  left:0;
  /*overflow: auto; /* Enable Scrolling */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  z-index:2;
}

.videoWrapper {
  position:relative; /* relative */
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute; /* absolute */
  max-width: 560px;
  max-height: 315px;
  width: 95%;
  height: 95%;
  left: 0;
  right: 0;
  margin: auto;
}